  <!-- links views/header.ejs -->
  <%- include("header") -%>
  <h2>This is the about page</h2>
  <p>My name is Robert Haye and I created this website to track all my tasks.</p>

    <!-- links views/footer.ejs -->
    <%- include("footer") -%> 